<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RL | Bom dia meu amigo</title>
</head>
<body>
    <input id="1" name="name" type="text" placeholder="Nome">
    <input id="2" name="idade" type="text" placeholder="idade">
    <input id="3" name="email" type="text" placeholder="email">
</body>
</html>